<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="com.tencent.vod.flutter">

    <application>
        <activity
                android:name="com.tencent.vod.flutter.ui.FlutterPipImplActivity"
                android:theme="@style/Theme"
                android:supportsPictureInPicture="true"
                android:screenOrientation="portrait"
                android:excludeFromRecents="true"
                android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize|screenLayout"
                android:exported="true"
                android:launchMode="singleTask"
                android:resizeableActivity="true"
                android:windowSoftInputMode="stateHidden"
                tools:ignore="UnusedAttribute" >
            <intent-filter>
                <action android:name="com.tencent.flutter.startPip"/>
                <action android:name="com.tencent.flutter.exitPip"/>
                <action android:name="com.tencent.flutter.updatePip"/>
            </intent-filter>
        </activity>
        
        <service android:name="com.tencent.vod.flutter.ui.TXAndroid12BridgeService"/>
    </application>

</manifest>